<% provide(:title, "What's 'InstaClone?'") %>
<h1 class="about">Insta Cloneとは？</h1>
<p>
  Insta Cloneとは多くの人々が日々遭遇する出来事や思い出をみんなと共有するために作られたウェブサイトです<br />
  思い出は文字だけでなく画像でも共有できるので、あなたが今までにあった体験をみんなにも知らせよう！
</p>
