#topimg{
  background-image: url("toppage.jpg");
  background-color: rgba(0,0,0,0.7);
  background-repeat: no-repeat;

}

.top-h1{
  color: white;
}

.top-h2{
  color: white;
}

.about{
  border: skyblue solid 3px;
  padding: 10px;
}
