#topimg{
  background-image: url("toppage.jpg");
  background-color: white;
  background-repeat: no-repeat;

}

.top-h1{
  color: black;
}

.top-h2{
  color: black;
}

.about{
  border: skyblue solid 3px;
  padding: 10px;
}
